@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-main-color: white;
    --text-main-color: black;
    --footer-color: black;
    --custom-green: #5d9c69;
    --translucent-black: rgba(0, 0, 0, .17);

    --bg-gradient-color: #afd7b7;
}

body {
    min-height: 100vh;
    background: linear-gradient(white, var(--bg-gradient-color));
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc((100vw - 1300px) / 2);
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    user-select: none;
}

footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: .4rem 0 .6rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--footer-color);
    color: var(--bg-main-color);
    user-select: none;
}

footer a {
    display: flex;
    margin-bottom: .2rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--bg-main-color);
    text-decoration: none;
}

footer .github {
    width: 3rem;
    height: 3rem;
    fill: var(--bg-main-color);
    transition: 0.1s;
}

footer .github:hover {
    fill: var(--custom-green);
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    background-color: transparent;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-main-color);
    text-decoration: none;
    transition: .2s ease;
    user-select: none;
}

.logo:hover {
    color: var(--custom-green);
}

.top-menu {
    position: relative;
    margin: 0 .3rem;
    padding: .6rem .9rem;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-main-color);
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.3s;
    user-select: none;
}

.top-menu:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

.top-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: var(--bg-main-color);
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.top-menu:hover::after, 
.top-menu:focus::after,
.top-menu.active::after {
    transform: scaleX(1);
}

.top-menu.active {
    background: var(--custom-green);
    color: white;
    transition: box-shadow .2s ease;
}

.top-menu.active:hover {
    box-shadow: 0 0 .3rem var(--custom-green);
}

.about-us-title {
    margin-top: 7rem;
    text-align: center;
    color: var(--text-main-color);
}

.about-us-title h1 {
    margin-bottom: .2rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.about-us-title p {
    font-size: 1.2rem;
    font-weight: 400;
}

.about-us-title-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.about-us-title-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Make profiles less visible when out of view, and transition them to have a higher opacity once in view */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: transform 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

img {
    border: solid var(--text-main-color) 2px;
    border-radius: 20px;
    box-shadow: 0 0 .2rem var(--text-main-color);
    user-select: none;
    transition: box-shadow .2s ease;
}

img:hover {
    box-shadow: 0 0 .5rem var(--text-main-color);
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 3rem 8rem;
}

.about-wrapper .profile {
    padding: 2rem;
    border-radius: 35px;
    text-align: center;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .5);
    background: var(--translucent-black);
    transition: transform 1s, box-shadow .2s ease;
}

.about-wrapper .profile:hover {
    box-shadow: 0 0 .7rem rgba(0, 0, 0, .5);
}

.profile h1 {
    margin-top: .5rem;
    font-size: 2rem;
    background: var(--bg-profile-color);
    color: var(--text-main-color);
}

.profile p {
    margin-top: .5rem;
    font-size: 1.5rem;
    background: var(--bg-profile-color);
    color: var(--text-main-color);
}

.profile-p p {
    font-size: 1.2rem;
    background: var(--bg-profile-color);
    color: var(--text-main-color);
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: .5rem 0;
    align-items: center;
    justify-content: center;
}

.profile:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}

.tom-button {
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

.tom-button:hover {
    .button-icon {
        fill: white;
    }
}

.tom-button .button-icon {
    width: 3rem;
    height: 3rem;
    fill: black;
    transition: fill .2s ease;
}

/* CSS container for exit animation. triggers when any a href (which are only present on the top menu bar) is clicked. */
.exit {
    filter: blur(5px);
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out
}