* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #5b7961;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    height: 80px;
    background: #5b7961;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

a {
    line-height: .3;
}

.top-menu{
    text-decoration: none;
    color: #fff;
    padding: 0 1.25rem;
}

.hero {
    background-color: #5b7961;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.hero-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    padding: 0rem calc((100vw - 1300px) /2);
}

.about-us-title {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2;
    margin-top: .5rem;
}

.wrapper .profile {
    flex: 1 1 16rem;
    text-align: center;
    background: #5b7961;
    padding: 3rem 3rem;
}

.wrapper .profile h1 {
    margin-top: .5rem;
    font-size: 2rem;
    color: white;
}

.wrapper .profile p {
    margin-top: .5rem;
    font-size: 1.5rem;
    color: white;
}

.wrapper .profile-p p {
    color: white;
    font-size: 1.2rem;
}

.mission-title {
    margin-top: -7rem;
    margin-left: 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.tom-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: #5b7961;
    background: #fff;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.25s;
    text-decoration: none;
    align-items: center;
}

.tom-button:hover {
    background: #000;
    color: #fff;
    transform: scale(1.25);
}

.tom-speech {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0rem 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.hero-image {
   max-width: 400px;
   max-height: 400px;
   background-color: transparent;
}

.hero-image-tom {
    max-width: 550px;
    max-height: 550px;
    background-color: transparent;
    transition: 0.25s;
 }

.hero-image-tom:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    color: #fff;
  }

button {
    border: none;
    background-color: transparent;
    outline: none;
}