* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-main-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-profile-color: #3b5140;
    --nav-bar-color: #5b7961;
    --foot-color: transparent;
}

body {
    background: linear-gradient(#5b7961, #d69797);
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    background: var(--nav-bar-color);
    top: 0;
}

#navbar {
    background: var(--nav-bar-color);
}

footer {
    background-color: var(--foot-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin: 0;
    background: var(--foot-color);
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    background-color: var(--foot-color);
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    background-color: var(--foot-color);
}

.github {
    width: 2rem;
    height: 2rem;
    transition: 0.25s;
    border: none;
    background: var(--foot-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    color: white;
    background: var(--nav-bar-color);
}

.top-menu {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    background: var(--nav-bar-color);
    transition: background-color 0.3s, color 0.3s;
}

.top-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.top-menu:hover::after, 
.top-menu:focus::after,
.top-menu.active::after {
    transform: scaleX(1);
}

.about-us-title {
    text-align: center;
    font-size: 3rem;
    color: white;
}

img {
    border: solid white 2px;
    border-radius: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.wrapper .profile {
    padding: 2rem;
    border-radius: 35px;
    text-align: center;
    background: var(--bg-profile-color);
}

.profile h1 {
    margin-top: .5rem;
    font-size: 2rem;
    background: var(--bg-profile-color);
    color: white;
}

.profile p {
    margin-top: .5rem;
    font-size: 1.5rem;
    background: var(--bg-profile-color);
    color: white;
}

.profile-p p {
    font-size: 1.2rem;
    background: var(--bg-profile-color);
    color: white;
}

.tom-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.25s;
    text-decoration: none;
    align-items: center;
    background: white;
}

.tom-button:visited {
    color: black;
}

.tom-button:visited:hover,
.tom-button:hover {
    background: black;
    color: white;
    transform: scale(1.25);
}