* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-main-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-main-color: #5b7961;
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --nav-bar-color: rgb(31, 30, 30);
    --foot-color: rgb(71, 71, 71);
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    background: var(--nav-bar-color);
    top: 0;
    position: sticky;
}

#navbar {
    background: var(--nav-bar-color);
}

footer {
    background-color: var(--foot-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.effect:nth-child(2) {
    transition-delay: 360ms;
}

.icon {
    display: none;
    color: white;
    transition: 0.25s;
    background: var(--nav-bar-color);
}

.icon:hover {
    color: black;
    background: var(--nav-bar-color);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    background: var(--nav-bar-color);
}

footer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin: 0;
    background: var(--foot-color);
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    background-color: var(--foot-color);
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    background-color: var(--foot-color);
}

.github {
    width: 2rem;
    height: 2rem;
    transition: 0.25s;
    background: var(--foot-color);
}


.top-menu {
    position: relative;
    display: inline-block;
    margin: 0 1.25rem;
    color: white;
    text-decoration: none;
    background: var(--nav-bar-color);
    transition: background-color 0.3s, color 0.3s;
}

.top-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.top-menu:hover::after, 
.top-menu:focus::after,
.top-menu.active::after {
    transform: scaleX(1);
}

.tom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    color: white;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.tom-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.25s;
    text-decoration: none;
    align-items: center;
    max-width: 450px;
    max-height: auto;
    background: white;
    color: black;
    --offset: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.tom-button:hover {
    background: black;
    color: white;
    z-index: 1;
}

/* Conic gradient */
.tom-button::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #6de3a6, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); 
    width: 200%;
    height: 200%; 
    border-radius: 50%;
    animation: rotate 2s linear infinite;
    z-index: -2;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.25s;
}

.tom-button:hover::before {
    opacity: 1; /* Show on hover */
}

/* Overlay */
.tom-button::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: 3px;
    z-index: -2;
}

.tom-image {
    margin-left: 8rem;
    max-width: 450px;
    max-height: auto;
    background-color: transparent;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.9) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.9) rotate(1turn);
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 768px) {
    .tom-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1182px) {
    nav {
        flex-direction: row;
        align-items: flex-start;
        background: var(--nav-bar-color);
    }

    .logo {
        margin: 1.5rem 0rem 0rem 1rem;
    }

    .top-menu {
        display: none; 
    }

    .icon {
        display: block;
        float: right;
        padding: 14px 16px;
        background: var(--nav-bar-color);
    }

    .nav-items.responsive .top-menu {
        display: block;
        background-color: hsl(56, 82%, 57%);
        margin: 1rem;
    }

    .nav-items.responsive {
        position: relative;
        background-color: hsl(56, 82%, 57%);
        color: white;
        z-index: 1;
        border-radius: 15px;
        box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.288);
        position: absolute; /* Change to absolute positioning */
        right: 0; /* Align to the right side */
        top: 60px; /* Adjust top position to avoid overlap with nav */
        width: auto; /* Optional: Adjust width to fit content */
    }

    .nav-items.responsive a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .nav-items.responsive a:hover {
        background-color: #8d9115;
        color: white;
    }

    .nav-items.responsive {
        display: block;
    }
}