* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-main-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-profile-color: #3b5140;
    --nav-bar-color: rgb(31, 30, 30);
    --foot-color: rgb(71, 71, 71);
}

body {
    background: linear-gradient(#5b7961, #e79703);
    min-height: 100vh;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    background: var(--nav-bar-color);
    top: 0;
    position: sticky;
}

#navbar {
    background: var(--nav-bar-color);
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin: 0;
    background: transparent;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    background-color: transparent;
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    background-color: transparent;
}

#github {
    width: 2rem;
    height: 2rem;
    transition: 0.25s;
    border: none;
    background: transparent;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    color: white;
    background: var(--nav-bar-color);
}

.top-menu {
    position: relative;
    display: inline-block;
    margin: 0 1.25rem;
    color: white;
    text-decoration: none;
    background: var(--nav-bar-color);
    transition: background-color 0.3s, color 0.3s;
}

.top-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.top-menu:hover::after, 
.top-menu:focus::after,
.top-menu.active::after {
    transform: scaleX(1);
}

.tom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: white;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    color: white;
}

.tom-quote-head {
    border: none;
}

.ai-quotes-content {
    display: none;
}

.get-quote-button {
    width: 35rem;
    height: auto;
    transition: 0.25s;
 }

 .get-quote-button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .tom-container {
        grid-template-columns: 1fr;
    }
}