@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-main-color: white;
    --footer-color: black;
    --custom-green: #5d9c69;

    --bg-gradient-color: #c99755;
    --buttons-color: #c68b3e;
    --text-color: white;

    --bg-profile-color: #3b5140;
    --nav-bar-color: #5b7961;
    --foot-color: transparent;
}

body {
    background: linear-gradient(var(--bg-main-color), var(--bg-gradient-color));
    min-height: 100vh;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc((100vw - 1300px) / 2);
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    user-select: none;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: .4rem 0 .6rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--footer-color);
    color: var(--bg-main-color);
    user-select: none;
}

footer a {
    display: flex;
    margin-bottom: .2rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--bg-main-color);
    text-decoration: none;
}

footer .github {
    width: 3rem;
    height: 3rem;
    fill: white;
    transition: 0.1s;
}

footer .github:hover {
    fill: var(--custom-green);
}

footer p {
    font-size: 0.75rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-main-color);
    text-decoration: none;
    transition: .2s ease;
    user-select: none;
}

.logo:hover {
    color: var(--custom-green);
}

.top-menu {
    position: relative;
    margin: 0 .4rem;
    padding: .6rem .9rem;
    border-radius: 20px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.3s;
    user-select: none;
}

.top-menu:hover {
    background-color: rgb(229, 228, 228);
}

.top-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: center;
    transition: transform 0.35s ease-out;
}

.top-menu:hover::after, 
.top-menu:focus::after,
.top-menu.active::after {
    transform: scaleX(1);
}

.top-menu.active {
    background: var(--custom-green);
    color: white;
    transition: box-shadow .2s ease;
}

.top-menu.active:hover {
    box-shadow: 0 0 .3rem var(--custom-green);
}

.tom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.tom-image {
    margin-left: 8rem;
    width: 24rem;
    height: auto;
    pointer-events: none;
    user-select: none;
}

.hidden-tom {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show-tom {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-timer-buttons {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show-timer-buttons {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .tom-container {
        grid-template-columns: 1fr;
    }
}

.tom-button {
    padding: 0.75rem;
    width: 10rem;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0 0 .3rem var(--buttons-color);
    background: var(--buttons-color);
    color: var(--text-color);
    text-decoration: none;
    transition: .25s ease;
    cursor: pointer;
}

.tom-button:hover {
    box-shadow: 0 0 .3rem black;
    background: black;
    color: white;
    transform: scale(1.1);
}

.top-buttons,
.bottom-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.top-buttons {
    gap: 2rem;
}

.top-buttons > *.selected {
    box-shadow: 0 0 .3rem black;
    background: black;
    color: white;
}

.timer-div {
    display: grid;
    margin: 8rem 0 5rem;
    grid-template-columns: 1fr 2fr;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    margin-bottom: 2rem;
    height: 17rem;
    text-align: center;
    font-size: 15rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    user-select: none;
}

#start-timer {
    padding: .5rem 2rem;
    width: 18rem;
    font-size: 1.8rem;
}

#start-timer.start-mode {
    background: var(--buttons-color);
}

#start-timer.pause-mode {
    background: black;
}

#start-timer.start-mode:hover {
    transform: scale(1.05);
    background: black;
}

#start-timer.pause-mode:hover {
    transform: scale(1.05);
    background: black;
}

#restart-button {
    width: 3rem;
    height: 3rem;
    transition: 0.25s;
    background-image: url('../../media/restart-black.png');
    background-color: transparent;
}

#settings-button {
    width: 3rem;
    height: 3rem;
    transition: 0.25s;
    background-image: url('../../media/gear-black.png');
    background-color: transparent;
}

#restart-button:hover {
    transform: scale(1.25);
    background-color: transparent;
}

#settings-button:hover {
    transform: scale(1.25);
    background-color: transparent;
}

.no-button {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin: 1rem;
}

.popup {
    background:#3a4f40;
    opacity: 0;
    position: fixed;
    top: 6rem;
    bottom: 6rem;
    right: 12rem;
    left: 12rem;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    /* top: 1;
    right: 0;
    left: 0;
    bottom: 0;
    height: 10rem; */
    z-index: -1;

}

.popup.open {
    opacity: 1;
    z-index: 999;
}

.main-area { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.popup h1, h2, h5, label {
    color: white;
    background-color:#3a4f40;
} 

.title {
    display: flex;
    justify-content: space-evenly;
}

.top-half{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.timer-boxes {
    display: block;
}

.labels {
    display: flex;
    flex-direction: row;
}

.input-boxes {
    display: flex;
    flex-direction: row;
}

.bottom-half {
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
}

#mood-prompt {
    background-color: white;
    border-radius: 50px;
    height: 150px;
    width: 490px;
    resize: none;
}

.time-input {
    padding: .3rem;
    width: 6rem;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
    background: white;
}

#closePop {
    padding: 0.75rem;
    width: 150px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.25s;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    background:white;
    display: flex;
    /* position: fixed;
    bottom: 5rem;
    left: 42rem */
}

#pick-colors {
    padding: 0.75rem;
    width: 250px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.25s;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    background:white;
    /* position: fixed;
    bottom: 5rem;
    left: 42rem */
}

.hexcodes {
    display: none;
}

.dropdown {
    background-color:white;
    font-size: 1.1rem;
}

.finish {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* CSS container for exit animation. triggers when any a href (which are only present on the top menu bar) is clicked. */
.exit {
    filter: blur(5px);
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out
}