{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href={% static 'css/about-us.css' %} rel="stylesheet" type="text/css">
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items">
            <a href="home.html" class="top-menu">Home</a>
            <a href="quotes.html" class="top-menu">Quotes</a>
            <a href="schedule.html" class="top-menu">Schedule</a>
            <a href="our-mission.html" class="top-menu">Our Mission</a>
            <a href="about-us.html" class="top-menu">About Us</a>
        </div>
    </nav>
    <h1 class="about-us-title">About Us</h1>
    <section class = "wrapper">
        <div class="profile">
            <img src = "{% static 'assets/stephen.jpg' %}" alt = "stephen.jpg" width = "200" height = "200" >
            <h1>Stephen Wu</h1>
            <p>Project Manager, UI Designer, Front End Developer</p><br><br>
            <a href="https://www.linkedin.com/in/stephen-wu-210a96304/" class="tom-button">LinkedIn</a>
            <a href = "https://github.com/heavens-potato" class="tom-button">GitHub</a><br><br>
            <div class="profile-p">
                <p>
                    My name is Stephen and I am a CS major at UMD. I first began coding in the freshman year of high school when I learned HTML/CSS.
                    Since then, I've significantly expanded my skillsets to include Python and Java, and pushed significantly for growth in leadership-related traits. In the future, I aspire to be a software project manager, or software or data engineer. 
                    My hobbies include travelling (namely going to Disney parks), eating, playing tennis, and occasionally hiking.
                </p>
            </div>
        </div>
        <div class = "profile">
            <img src = "{% static 'assets/omarya.jpeg' %}" alt = "omarya.jpeg" width = "200" height = "200">
            <h1>Om Arya</h1>
            <p>Tech Lead, Front End / Back End Developer</p><br><br>
            <a href = "https://www.linkedin.com/in/om-arya/" class="tom-button">LinkedIn</a>
            <a href = "https://github.com/om-arya" class="tom-button">GitHub</a><br><br>
            <div class="profile-p">
                <p>
                    Hi! I'm Om and I'm a CS major at UMD with a minor in Math/Statistics. I'm passionate about creating usable solutions for real demands, and I aspire
                    to become a software developer in the future. I have a foundation in Java, Python, and C, along with frameworks like React. In my free time, I enjoy travelling,
                    fitness, reading, and spending time with friends and family.
                </p>
            </div>
        </div>
        <div class="profile">
            <img src = "{% static 'assets/hasan.jpg' %}" alt = "hasan.jpg" width = "200" height = "200" > 
            <h1>Hasan Ege</h1>
            <p>Front End Developer</p><br><br>
            <a href="https://www.linkedin.com/in/hasan-ege-2aa35921b/" class="tom-button">LinkedIn</a>
            <a href = "https://github.com/hasane1" class="tom-button">GitHub</a><br><br>
            <div class="profile-p">
                <p>
                    Hello! My name is Hasan and I am a computer science and economics double major at UMD. I found programming from a young age and found a
                    passion for it once I arrived here. I hope to combine my economics and CS skills as a software developer in the future.
                </p>
            </div>
        </div>
    </section>
    <div>
        <p class="column-left">Special thanks to Claire Chen for providing the cat illustration.</p>
    </div>
</body>
</html>