{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/about-tom.css' %} type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About T.O.M.</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="home" class="logo">T.O.M. | Tabby Of Motivation</a>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="about-tom" class="top-menu active">About T.O.M.</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Quotes</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
        <!-- Responsive Navigation Bar -->
        <a href="javascript:void(0);" class="icon small-menu-link">
            <i class="fa fa-bars"></i>
        </a>
    </nav>

    <!-- Main Content -->
    <div id="all-content">
        <!-- Title & Subtitle -->
        <div class="title">
            <h1 class="big-title hidden-type">An AI-Powered Academic Ally</h1>
            <p class="subtitle hidden-type">Created by college students, for college students.</p>
        </div>
        
        <!-- Meet TOM Description -->
        <section class="meet-tom">
                <div class="meet-description hidden">
                    <h1>Meet T.O.M.</h1>
                    <p>Powered by Google’s Gemini API through the Google AI Studio, the Tabby of Motivation or T.O.M. is an AI-powered web app that provides helpful 
                        support and encouragement to college students as they navigate the stressful ins and outs of managing their academic lives. </p>
                </div>
                <div class="meet-image hidden">
                    <img id="tom-home" src="../media/tom_home.png" alt="T.O.M.">
                </div>
            </div>
        </section>

        <!-- TOM Functionality -->
        <section class="tom-features-title hidden">
            <div class="features-description">
                <h1>What Can T.O.M. Do?</h1>
                <p>
                    There are three ways you can interact with T.O.M., the adorable hand-drawn black tabby cat that serves as our mascot. 
                </p>
            </div>
        </section>

        <!-- 3 Features of TOM -->
        <section class="three-features" id="exit">
            <!-- Quotes Card -->
            <div class="card hidden">
                <h1>Quotes: <span>Hear His Wisdom</span></h1>
                <div class="feature">
                    <p>Not feeling like chasing the string today? T.O.M.’s got you! Having been around for a long time (cats have nine lives after all), 
                        he has quite the wisdom to share. On each click, T.O.M. will share a spontaneous piece of his unique insight into the art of 
                        pursuing your dreams and keeping your claws sharp.</p>
                    <img src="../media/philosopher-tom.PNG" alt="quotes">
                </div>
            </div>
            <!-- Schedule Card -->
            <div class="card-right hidden">
                <h1>Schedule Builder: <span>Plan Your Day Out</span></h1>
                <div class="feature">
                    <img src="../media/construction-tom.PNG" alt="quotes">
                    <p>Burdened by too many tasks to complete in one day and not knowing where to start? Don’t fear! Share your daily jobs, activities, 
                        and more with T.O.M. to receive a personalized schedule to eliminate your worries. If T.O.M.’s schedule does not fit, simply 
                        ask him again, and he will be happy to oblige!</p>
                </div>
            </div>
            <!-- Timer Card -->
            <div class="card hidden">
                <h1>Tomodoro Timer: <span>Study with T.O.M.</span></h1>
                <div class="feature">
                    <p>Struggling to focus for an upcoming assignment or exam? Pace your studying and break time with Tomodoro, a customizable study 
                        timer featuring an abundance of color combinations for a fresh look every time. T.O.M. can even make a theme for your mood at 
                        the moment!</p>
                    <img src="../media/tomato-tom.PNG" alt="quotes">
                </div>
            </div>
        </section>

        <!-- TOM Creation Description -->
        <section class="tom-creation hidden">
            <div class="feature">
                <img src="../media/potter-tom.PNG">
            </div>
            <div class="creation-description">
                <h1>Why Did We Create T.O.M.?</h1>
                <p>A tight-knit team of four college sophomores, we are more than familiar with the everyday stresses college students experience. 
                    We used our experiences overcoming these struggles in tandem with our backgrounds in computer science to create a tool that could help 
                    alleviate stress for college students. 
                </p>
                <br>
                <p>
                    Whether it’s through his adorable design, helpful nature, or quirky quotes, T.O.M. was created to help students relax, regain their 
                    groove, and move on to their next goal feeling more empowered than ever. This project is a testament to the new skills we’ve learned 
                    from our first years in college, our passion for creative problem solving, and love for adorable felines. We hope you feel it too!
                </p>
            </div>
        </section>

        <!-- How TOM Was Made -->
        <section class="tom-details hidden">
            <div class="details-description">
                <h1>How Was T.O.M. Made?</h1>
                <p>
                    <!-- While no one really knows how such a wise and helpful feline is born (the stars must have aligned right, we guess!), 
                    what we do know is how we brought T.O.M.’s presence alive in your devices.  -->
                    This web application was written in HTML/CSS, JavaScript, and Python on Visual Studio Code, with the assistance of front-end designing tools like Figma. 
                </p>
                <br>
                <p>
                    To enable most of its core features, T.O.M. leverages Gemini API through the Google AI Studio. Specifically, generating T.O.M.'s wisdom, accepting user 
                    requests and preferences in the Schedule Builder feature, and customizing the look of the Tomodoro feature based on user inputs. 
                </p>
                <br>
                <p>
                    T.O.M.’s front end was a collaborative design effort completed using Figma, with elements from all team members comprising the final design. These included a 
                    color scheme and site layout proposed by Om, page transitions and responsive elements added by Stephen, detailed pop up UI elements created by Justin, and 
                    hand-drawn T.O.M. illustrations by Claire. We are immensely proud of how an identifying piece of each person’s work can be seen in the front-end of T.O.M.
                </p>
            </div>
            <div class="feature">
                <img src="../media/scientist-tom.PNG">
            </div>
            <div class="details-description">
                <p>
                    On the back-end, T.O.M. relies on a Django framework in order to implement its customized chatbot interfaces and facilitate user interactions with the Gemini API. 
                    This framework allows us to generate customized queries to send to the Gemini API to receive the exact results we want, and use those results in our features. 
                    To enable users to hear T.O.M.’s meowjestic voice for themselves, we also included a text-to-speech feature utilizing the SpeechSynthesis interface of the Web Speech API. 
                </p>
                <br>
                <p>
                    We embarked on a journey of exploration through this project, employing a variety of tools foreign to nearly all of us when we began. This not only allowed us to create 
                    a dynamic project page but also significantly enhanced our technical skillset, and we're feline quite accomplished with the results of this project!
                </p>
            </div>
        </section>

        <!-- Contact Us Description -->
        <section class="contact-us hidden" id="exit">
            <h1>Something to tell us? We're listening!</h1>
            <p>Whether it’s wanting a new way to interact with T.O.M. or finding a hairball that’s causing him to act like a grumpy cat, we’re here to address any concerns you may have! 
                Contact us below, and we will unwind any yarn balls T.O.M. may be caught in to get him working again.</p>
        </section>
        <!-- Contact Us Form -->
        <div class="form hidden" id="exit">
            <div class="form-container">
                <form class="form-content" action="https://formspree.io/f/xeojklwa" method="POST">
                    <div class="left">
                        <label for="help">
                            <p>Subject</p>
                            <input type="text" id="help" name="help" placeholder="Subject here..." maxlength="50" required="true">
                        </label>

                        <label for="name">
                            <p>Your name</p>
                            <input type="text" id="name" name="name" placeholder="John Smith" maxlength="50" required="true">
                        </label>

                        <label for="email">
                            <p>Your email address</p>
                            <input type="email" id="email" name="email" placeholder="johnsmith1@mail.com" maxlength="50" required="true">
                        </label>
                    </div>
                    <div class="right">
                        <label for="message">
                            <p>Your message</p>
                            <textarea type="text" id="message" name="message" placeholder="Message here..." maxlength="1000" required="true"></textarea>
                        </label>

                        <input type="submit" value="Send" id="send-button">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <a href="https://github.com/om-arya/T.O.M" target="_blank">
            <box-icon type="logo" name="github" class="github"></box-icon>
        </a>
        <p>&copy; 2024 T.O.M. | Tabby Of Motivation</p>
    </footer>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="../static/js/about-tom.js"></script>
</body>
</html>