{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/about-us.css' %} type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Meet The Team</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="home" class="logo">T.O.M. | Tabby Of Motivation</a>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Quotes</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="about-tom" class="top-menu">About T.O.M.</a>
            <a href="about-us" class="top-menu active">Meet The Team</a>
        </div>
        <!-- Responsive Navigation Bar -->
        <a href="javascript:void(0);" class="icon small-menu-link" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    
    <!-- Title & Subtitle -->
    <div class="about-us-title about-us-title-hidden" id="title">
        <h1>Meet The Team</h1>
        <p>Get to know the creators behind T.O.M.</p>
    </div>

    <!-- Introduction Cards -->
    <section class = "about-wrapper" id="profiles-section-wrapper">
        <!-- Stephen Wu -->
        <div class="profile item1 hidden">
            <img src = '../media/stephen.jpg' alt = "stephen.jpg" width = "200" height = "200" >
            <h1>Stephen Wu</h1>
            <p>Project Lead, Front End Developer & UI/UX Designer</p>
            
            <div class="button-container">
                <a href="https://www.linkedin.com/in/stephen-wu-210a96304/" class="tom-button">
                    <box-icon type='logo' name='linkedin-square' class="button-icon"></box-icon>
                </a>
                <a href = "https://github.com/heavens-potato" class="tom-button">
                    <box-icon type='logo' name='github' class="button-icon"></box-icon>
                </a>
            </div>

            <div class="profile-p">
                <p>
                    I'm Stephen, a CS major at UMD. Since early high school, I've thrived in collaborative coding environments, loving the 
                    challenge of uniting others to solve problems and build innovative tools in the process. 
                    My coding journey began five years ago ith HTML/CSS. Since then, I've learned Python and Java, while actively working to develop leadership competence. Having participated in three 
                    programming teams as project manager or tech lead throughout the last few years, I aspire to be a software project manager or software engineer in the future. 
                    Outside of the computer, I like to visit Disney parks, eat, visit capybara cafes, play tennis, and hike.
                </p>
            </div>
        </div>
        <!-- Om Arya -->
        <div class = "profile item2 hidden">
            <img src = '../media/omarya.jpeg' alt = "omarya.jpeg" width = "200" height = "200">
            <h1>Om Arya</h1>
            <p>Technical Lead, Front & Back End Developer</p>

            <div class="button-container">
                <a href = "https://www.linkedin.com/in/om-arya/" class="tom-button">
                    <box-icon type='logo' name='linkedin-square' class="button-icon"></box-icon>
                </a>
                <a href = "https://github.com/om-arya" class="tom-button">
                    <box-icon type='logo' name='github' class="button-icon"></box-icon>
                </a>
            </div>

            <div class="profile-p">
                <p>
                    Hi! I'm Om and I'm a CS major at UMD with a minor in Math/Statistics. I'm passionate about creating usable solutions for real demands, and I aspire
                    to become a software developer in the future. I have a foundation in Java, Python, and C, along with frameworks like React. In my free time, I enjoy travelling,
                    fitness, reading, and spending time with friends and family.
                </p>
            </div>
        </div>
        <!-- Claire Chen -->
        <div class = "profile item3 hidden">
            <img src = '../media/claire.jpg' alt = "claire.jpg" width = "200" height = "200">
            <h1>Claire Chen</h1>
            <p>Front End Developer & UI/UX Designer</p>

            <div class="button-container">
                <a href = "https://www.linkedin.com/in/claire-s-chen/" class="tom-button">
                    <box-icon type='logo' name='linkedin-square' class="button-icon"></box-icon>
                </a>
                <a href = "https://github.com/cc13985" class="tom-button">
                    <box-icon type='logo' name='github' class="button-icon"></box-icon>
                </a>
            </div>

            <div class="profile-p">
                <p>
                    I'm Claire, a CS major at UMD. I love creating, designing, and experimenting with new ideas. As a coder and programmer of 5 years, I enjoy 
                    using my skills to contribute to solutions that enhance the accessibility, effectiveness, and quality of technology for society. I want to continue this 
                    in a future career in software engineering, with an interest in mission-driven startups. As a three-time hackathon winner, I also love participating in and organizing hackathons. 
                    Beyond the computer, I am a dancer of 14 years, currently on UMD's Chinese Dance Team, as well as an avid artist and cat cafe connoisseur. The last two were the inspirations behind 
                    my designs of the T.O.M. graphics and animations. 
                </p>
            </div>
        </div>
        <!-- Justin Glazer -->
        <div class="profile item4 hidden">
            <img src = '../media/justin.png' alt = "justin.jpg" width = "200" height = "200" > 
            <h1>Justin Glazer</h1>
            <p>Front & Back End Developer</p>

            <div class="button-container">
                <a href="https://www.linkedin.com/in/justin-glazer/" class="tom-button">
                    <box-icon type='logo' name='linkedin-square' class="button-icon"></box-icon>
                </a>
                <a href = "https://github.com/justin-glazer" class="tom-button">
                    <box-icon type='logo' name='github' class="button-icon"></box-icon>
                </a>
            </div>

            <div class="profile-p">
                <p>
                    Hi!  I'm Justin, and I am a CS major at UMD.  I have been coding since eleventh grade, and I have primarily studied Java and C.  
                    I am interested in becoming a software developer in the future.  In my free time, I like to snowboard, skateboard, and play sports with friends.
                </p>
            </div>
        </div>
        <!-- Hasan Ege -->
        <div class="profile item5 hidden">
            <img src = '../media/hasan.jpg' alt = "hasan.jpg" width = "200" height = "200" > 
            <h1>Hasan Ege</h1>
            <p>Front End Developer</p>

            <div class="button-container">
                <a href="https://www.linkedin.com/in/hasan-ege-2aa35921b/" class="tom-button">
                    <box-icon type='logo' name='linkedin-square' class="button-icon"></box-icon>
                </a>
                <a href = "https://github.com/hasane1" class="tom-button">
                    <box-icon type='logo' name='github' class="button-icon"></box-icon>
                </a>
            </div>

            <div class="profile-p">
                <p>
                    Hello! My name is Hasan and I am a computer science and economics double major at UMD. I found programming from a young age and found a
                    passion for it once I arrived here. I hope to combine my economics and CS skills as a software developer in the future.
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <a href="https://github.com/om-arya/T.O.M" target="_blank">
            <box-icon type="logo" name="github" class="github"></box-icon>
        </a>
        <p>&copy; 2024 T.O.M. | Tabby Of Motivation</p>
    </footer>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="../static/js/about-us.js"></script>
</body>
</html>