{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/home.css' %} type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Meet T.O.M.</title>
</head>

<body>
    <nav>
        <a href="home" class="logo">T.O.M. | Tabby Of Motivation</a>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu active">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">T.O.M.'s Inspiration</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Study With T.O.M.</a>
            <a href="about-tom" class="top-menu">About T.O.M.</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <section class="tom">
        <div class="tom-container" id="home-container">
            <div class="column-left">
                <h1 class="effect hidden">👋 Hi, I'm T.O.M.!</h1>
                <p class="effect hidden">
                    Stressed about studies? I've got your back!
                </p>
                <a href="quotes+generate_ai_quotes+True" class="tom-button">Hear My Pawsitive Inspiration</a>
                <br>
                <a href="schedule" class="tom-button">Build the Purrfect Schedule</a>
                <br>
                <a href="tomodoro" class="tom-button">Study With Me</a>
            </div>
            <div class="column-right">
                <img src ='../media/tom_home.png' alt="illustration" class="tom-image hidden-tom">
            </div>
        </div>
    </section>
    <footer>
        <a href="https://github.com/om-arya/T.O.M" target="_blank">
            <box-icon type="logo" name="github" class="github"></box-icon>
        </a>
        <p>&copy; 2024 Tabby of Motivation | T.O.M.</p>
    </footer>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="../static/js/home.js"></script>
</body>
</html>