{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/home.css' %} type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Meet T.O.M.</title>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu active">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Hear T.O.M.'s Wisdom</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Study with T.O.M.</a>
            <a href="about-tom" class="top-menu">About T.O.M.</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    <section class="tom">
        <div class="tom-container" id="home-container">
            <div class="column-left">
                <h1 class="effect hidden">Meet T.O.M.</h1>
                <p class="effect hidden">
                    Stressed about studies? This cat's got your back!
                </p>
                <a href="quotes+generate_ai_quotes+True" class="tom-button">Hear T.O.M.'s Wisdom</a>
                <br>
                <a href="schedule" class="tom-button">Build the Purr-fect Schedule</a>
                <br>
                <a href="tomodoro" class="tom-button">Study with T.O.M.</a>
            </div>
            <div class="column-left hidden-tom">
                <img src ='../media/tom_home.png' alt="illustration" class="tom-image">
            </div>
        </div>
    </section>
    <footer>
        <h1>Tabby of Motivation | T.O.M.</h1>
        <a href="https://github.com/om-arya/T.O.M" target="_blank"><img class="github" src="../media/github-gray.png" onmouseover="this.src='../media/github-black.png'" onmouseout="this.src='../media/github-gray.png'"></a>
        <p>&copy; 2024 Tabby of Motivation | T.O.M.</p>
    </footer>
    <script type="module" src="../static/js/home.js"></script>
</body>
</html>