{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={%static 'assets/TOM.png'%}>
    <link rel="stylesheet" href={% static 'css/home.css' %} type="text/css">
    <title>Meet T.O.M.</title>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Quotes</a>
            <a href="schedule" class="top-menu">Schedule</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="our-mission" class="top-menu">Our Mission</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
    </nav>
    <section class="tom">
        <div class="tom-container">
            <div class="column-left">
                <h1>Meet T.O.M.</h1>
                <p>
                    Stressed about studies? This cat's got your back!
                </p>
                <a href="quotes+generate_ai_quotes+True" class="tom-button">Hear T.O.M.'s Wisdom</a>
                <br>
                <a href="schedule" class="tom-button">Make the Purr-fect Schedule</a>
                <br>
                <a href="tomodoro" class="tom-button">Study with T.O.M.</a>
            </div>
            <div class="column-left">
                <img src = "{% static 'assets/tom_home.png' %}" alt="illustration" class="tom-image">
            </div>
        </div>
    </section>
</body>
</html>