{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Mission</title>
    <link href={% static 'css/index.css' %} rel="stylesheet" type="text/css">
    <style>
            img {
        display: block;
        margin: 0 auto; 
    }
    </style>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items">
            <a href="index.html" class="top-menu">Home</a>
            <a href="our-mission.html" class="top-menu">Our Mission</a>
            <a href="about-us.html" class="top-menu">About Us</a>
        </div>
    </nav>
    <section class="hero">
        <div class = "hero-container2"> 
            <div class = "column-left">
                <h1 class = "mission-title">Our Mission Statement</h1>
                <br><br><br>
                <img src = "{% static 'assets/earthbitcamp.gif' %}" alt = "earth" width = "300" height = "300">
                
            </div>
            <div class = "column-left">
                <p>As college students, it sometimes feels as if we are endlessly running around to complete our various assignments. A routine like this
                    can leave us stressed out and frazzled, and having a way to motivate ourselves throughout the day is exactly what we needed. 
                    We created T.O.M. to give students like us an opportunity to boost their moods during their long days. 
                </p>
            </div>
        </div>
    </section>
</body>
</html>