{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/our-mission.css' %} type="text/css">
    <title>Our Mission</title>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Hear T.O.M.'s Wisdom</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="our-mission" class="top-menu">About T.O.M.</a>
            <a href="about-us" class="top-menu active">Meet The Team</a>
        </div>
    </nav>
    <section class="tom">
        <div class = "tom-container2"> 
            <div class = "column-left">
                <h1 class = "mission-title">Our Mission</h1>
            </div>
            <div class = "column-left">
                <p style="font-weight:bold">
                    An AI-Powered Academic Ally Created By College Students, For College Students
                </p>
                <br>
                <p>
                    bleh bleh.
                </p>
            </div>
        </div>
    </section>
    <footer>
        <h1>Tabby of Motivation | T.O.M.</h1>
        <a href="https://github.com/om-arya/T.O.M" target="_blank"><img class="github" src="../media/github-gray.png" onmouseover="this.src='../media/github-black.png'" onmouseout="this.src='../media/github-gray.png'"></a>
        <p>&copy; 2024 Tabby of Motivation | T.O.M.</p>
    </footer>
</body>
</html>