{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/our-mission.css' %} type="text/css">
    <title>Our Mission</title>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Quotes</a>
            <a href="schedule" class="top-menu">Schedule</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="our-mission" class="top-menu">Our Mission</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
    </nav>
    <section class="tom">
        <div class = "tom-container2"> 
            <div class = "column-left">
                <h1 class = "mission-title">Our Mission Statement</h1>
                <br><br><br>
                <img src = '../media/earthbitcamp.gif' alt = "earth" width = "300" height = "300">
                
            </div>
            <div class = "column-left">
                <p>As college students, it sometimes feels as if we are endlessly running around to complete our various assignments. A routine like this
                    can leave us stressed out and frazzled, and having a way to motivate ourselves throughout the day is exactly what we needed. 
                    We created T.O.M. to give students like us an opportunity to boost their moods during their long days. 
                </p>
            </div>
        </div>
    </section>
</body>
</html>