{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/quotes.css' %} type="text/css">
    <title>T.O.M.'s Quotes</title>
</head>
<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu active">Hear T.O.M.'s Wisdom</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Study with T.O.M.</a>
            <a href="our-mission" class="top-menu">About T.O.M.</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
    </nav>
    <section class="tom">
        <div class="tom-container">
            <h1 class="quote-container">
                <div class="quote-content">
                    
                </div>
                <div class="ai-quotes-content">
                    {{ ai_quotes }}
                </div>
            </h1>
            <div class="column-left">
                <button class='tom-quote-head' type="submit" onclick="location.href='quotes+generate_ai_quotes+False'">
                    <img class="get-quote-button" src='../media/TOM.png' name="submit">
                </button>
            </div> 
        </div>
    </section>
    <footer>
        <h1>Tabby of Motivation | T.O.M.</h1>
        <a href="https://github.com/om-arya/T.O.M" target="_blank"><img id="github" src="../media/github-gray.png" onmouseover="this.src='../media/github-black.png'" onmouseout="this.src='../media/github-gray.png'"></a>
        <p>&copy; 2024 Tabby of Motivation | T.O.M.</p>
    </footer>
    <script type="module" src="../static/js/quotes.js"></script>
</body>
</html>