{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/quotes.css' %} type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Quotes</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="home" class="logo">T.O.M. | Tabby Of Motivation</a>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="about-tom" class="top-menu">About T.O.M.</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu active">Quotes</a>
            <a href="schedule" class="top-menu">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
        <!-- Responsive Navigation Bar -->
        <a href="javascript:void(0);" class="icon small-menu-link">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    
    <!-- Quotes Generation -->
    <section class="tom">
        <div class="tom-container" id="tom-container">
            <!-- Quote Content -->
            <h1 class="quote-container hidden-quotes">
                <div class="quote-content">
                    
                </div>
                <div class="ai-quotes-content">
                    {{ ai_quotes }}
                </div>
            </h1>
            <!-- TOM Button to Generate Quotes -->
            <div class="column-right hidden-tom">
                <button class='tom-quote-head' type="submit" onclick="location.href='quotes+generate_ai_quotes+False'">
                    <img class="get-quote-button" src='../media/TOM.png' name="submit">
                </button>
            </div> 
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <a href="https://github.com/om-arya/T.O.M" target="_blank">
            <box-icon type="logo" name="github" class="github"></box-icon>
        </a>
        <p>&copy; 2024 T.O.M. | Tabby Of Motivation</p>
    </footer>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="../static/js/quotes.js"></script>
</body>
</html>