{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/schedule.css' %} type="text/css">
    <title>Make Your Schedule!</title>
</head>
<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Hear T.O.M.'s Wisdom</a>
            <a href="schedule" class="top-menu active">Schedule Builder</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="our-mission" class="top-menu">About T.O.M.</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
    </nav>
    <form id="scheduleForm" class="form" method="get" action="{% url 'submit_form' %}">
        <div class="input-container">
            <div class="event-label-container">
                <label for="events" class="input-label">Add your tasks and events for the day here:</label>
                <label for="time" class="input-label2">Est. time taken:</label>
                <label value="" type="button" id="deleteEvent" class="delete-button"></label>
            </div><br>
            <div class="add-delete-container">
                <input value="+ Add more" type="button" id="addEvent" class="add-button">
                <input value="Clear all" type="button" id="clearEvents" class="clear-all-button">
            </div>
            <label for="additionalNotes" class="input-label">Enter any additional notes or preferences here:</label><br>
            <textarea name="additionalNotes" rows="10" cols="30" class="notes">
            </textarea><br><br>
        </div>
        <div class="submit-container">
            <input type="image" class="schedule-button" src='../media/TOM.png' name="submit">
            <p id="press-me-text">Click me to make your schedule!</p> 
        </div>
    </form>

    <div id="result">
        {{ result|safe }}
    </div>
    <footer>
        <h1>Tabby of Motivation | T.O.M.</h1>
        <a href="https://github.com/om-arya/T.O.M" target="_blank"><img id="github" src="../media/github-gray.png" onmouseover="this.src='../media/github-black.png'" onmouseout="this.src='../media/github-gray.png'"></a>
        <p>&copy; 2024 Tabby of Motivation | T.O.M.</p>
    </footer>
    <script type="module" src="../static/js/schedule.js"></script>
</body>
</html>