{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.O.M. - Tabby Of Motivation</title>
    <link href={% static 'css/home.css' %} rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items">
            <a href="home.html" class="top-menu">Home</a>
            <a href="our-mission.html" class="top-menu">Our Mission</a>
            <a href="about-us.html" class="top-menu">About Us</a>
        </div>
    </nav>
    <section class="tom">
        <div class="tom-container">
            <div class="tom-speech">
                <h1>Click T.O.M.!</h1>
            </div>
            <div class="column-left">
                <button id="tom-quote-head">
                    <img src = "{% static 'assets/TOM.png' %}" alt="TOM.png" class="tom-image2"/>
                </button>
            </div> 
        </div>
    </section>

    <script src="../static/js/script.js"></script>
</body>
</html>