{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href='../media/TOM.png'>
    <link rel="stylesheet" href={% static 'css/tomodoro.css' %} type="text/css">
    <title>Study with T.O.M.</title>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items" id="navbar">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Quotes</a>
            <a href="schedule" class="top-menu">Schedule</a>
            <a href="tomodoro" class="top-menu active">Tomodoro Timer</a>
            <a href="our-mission" class="top-menu">Our Mission</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
    </nav>
    
    <div class="buttons">
        <div class="top-buttons">
            <input value="Tomodoro" type="button" class="tom-button tomodoro selected">
            <input value="Short Break" type="button" class="tom-button short-break">
            <input value="Long Break" type="button" class="tom-button long-break">
        </div>
        <div class="timer">25:00</div>
        <div class="bottom-buttons">
            <input type="button" class="no-button" id="restart-button">
            <input value="Start Timer" type="button" class="tom-button start-mode" id="start-timer">
            
            <input type="button" class="no-button" id="settings-button">
            <div class="popup" id="popup">
                <h1>Make This Study Timer Your Own!</h1>
                <h2>Time Lengths</h2>
                
                <label for="study" class="input-label">Study Time</label>
                <label for="short" class="input-label">Short Break</label>
                <label for="long" class="input-label" id="long-break">Long Break</label>

                <input type="number" min="0" max="9999" name="study" value="30" class="time-input tomodoro-time-input" />
                <h5 class="min-label">Min</h5>
                <input type="number" min="0" max="9999" name="short" value="5" class="time-input short-break-time-input" />
                <h5 class="min-label">Min</h5>
                <input type="number" min="0" max="9999" name="long" value="15" class="time-input long-break-time-input" />
                <h5 class="min-label">Min</h5>

                <h2> Page Theme</h2>
                
                <h5 id="message">Pick Your Favorite Colors!</h5>
                <h5 id="ai-message">Choose Your Colors With AI!</h5>
                <label for="background" id="background">Background</label>
                <select name="colors" class="dropdown" id="drop-1">
                    <option value="choice-1">Sample 1</option>
                    <option value="choice-2">Sample 2</option>
                    <option value="choice-3">Sample 3</option>
                </select>
                <textarea id="color-prompt">What's the mood?</textarea>
                <label for="buttons" id="buttons">Buttons</label>
                <select name="colors" class="dropdown">
                    <option value="choice-1">Sample 1</option>
                    <option value="choice-2">Sample 2</option>
                    <option value="choice-3">Sample 3</option>
                </select>
                <label for="Text" id="text">Text</label>
                <select name="colors" class="dropdown">
                    <option value="choice-1">Sample 1</option>
                    <option value="choice-2">Sample 2</option>
                    <option value="choice-3">Sample 3</option>
                </select>

                
                <input value="Pick Colors" type="button" class = "no-button" id = "pick-colors">
                <input value="Done" type="button" class = "no-button" id = "closePop">
            </div>
        </div>
    </div>
    <footer>
        <h1>Tabby of Motivation | T.O.M.</h1>
        <a href="https://github.com/om-arya/T.O.M" target="_blank"><img class="github" src="../media/github-gray.png" onmouseover="this.src='../media/github-black.png'" onmouseout="this.src='../media/github-gray.png'"></a>
        <p>&copy; 2024 Tabby of Motivation | T.O.M.</p>
    </footer>
    <script type="module" src="../static/js/tomodoro.js"></script>
</body>
</html>