{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={%static 'assets/TOM.png'%}>
    <link rel="stylesheet" href={% static 'css/tomodoro.css' %} type="text/css">
    <title>Study with T.O.M.</title>
</head>

<body>
    <nav>
        <div class="logo">Tabby Of Motivation | T.O.M.</div>
        <div class="nav-items">
            <a href="home" class="top-menu">Home</a>
            <a href="quotes+generate_ai_quotes+True" class="top-menu">Quotes</a>
            <a href="schedule" class="top-menu">Schedule</a>
            <a href="tomodoro" class="top-menu">Tomodoro Timer</a>
            <a href="our-mission" class="top-menu">Our Mission</a>
            <a href="about-us" class="top-menu">Meet The Team</a>
        </div>
    </nav>
    
    <div class= "buttons">
        <div class= "top-buttons">
            <input value="Study" type="button" class="tom-button">
            <input value="Short Break" type="button" class="tom-button">
            <input value="Long Break" type="button" class="tom-button">
        </div>
        <div class="timer">01:00:05</div><br><br>
        <div class="buttom-buttons">
            <input type="button" class="no-button" id="restart-button">
            <input value="Start Timer" type="button" class="tom-button" id="start-timer">
            <input type="button" class="no-button" id="settings-button">
        </div>
    </div>

    <script src="../static/js/tomodoro.js"></script>
</body>
</html>